body{
    background-color:  #f1dfc7;
}

.contenedor{
    border: 1px solid black;
    height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.header{
    display: flex;
    border-radius: 20px 20px 0 0;
    background-color: #0cab8b;
    justify-content: space-between;
}

.logo{
    margin-left: 40px;
    height: 170px;
    width: 170px;
}

.title{
    padding-top: 25px;
    flex-direction: row;
    margin-right: 34%;
    font-size: 50px;
    color: white;
}