:root{
    --color-cabezera:#efa22d;
    --color-arriba-fondo:#0ffff8;
    --color-abajo-fondo:#087ab6;
    --color-botones: #e7ad0e;
    --color-botones-press: #e48315;
    --color-fondo-tabla: #cdcdcd;
}

body{
    background: linear-gradient(to bottom, var(--color-arriba-fondo), var(--color-abajo-fondo));
}

.contenedor{
    background-color: var(--color-fondo-tabla);

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.header{
    display: flex;
    border: 2px, solid, black ;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-cabezera);
    justify-content: space-evenly;
}

.logo{
    margin-left: 40px;
    height: 170px;
    width: 170px;
}

.title{
    padding-top: 25px;
    flex-direction: row;
    font-size: 50px;
    color: black;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr  2fr  1fr  1fr ;
    grid-template-rows: 50px;
    background-color: var(--color-cabezera);

}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: black;
    font-size: 20px ;
}
.button{
    width: 200px;
    height: 80px;
    border: 2px solid black;
    background-color: var(--color-botones);
    margin-top: 50px;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer ;

}

.button:active{
    background-color: var(--color-botones-press);    
}

.fila{
    display: grid;
    grid-template-columns: 1fr 1fr  2fr  1fr  1fr ;
    grid-template-rows: 50px;
    background-color: var(--color-fondo-tabla);
}   

.botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.botones .botonesAccion{
    height: 30px;
    width: 80px;
    background-color: var(--color-botones);
    border-radius: 10px 10px 10px 10px;
}

.botones .botonesAccion:active{
    background-color: var(--color-botones-press);
}